
body {
    display: flex;
    flex-direction: column;
}

ul {
    border: 2px solid red;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 16px;
}

li {
    text-decoration: none;
    color: white;
    font-family: 'Lexend Deca';
}


.header {
    border: 2px solid red;
    background-color: #1e2a56;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding: 16px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.sectiontwo {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.subtexto {
    text-align: left;
    flex: 1;
}