
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 16px;
    gap: 16px;
}

li {
    text-decoration: none;
    color: white;
    font-family: 'Lexend Deca';
}

/* borda pra organizar o layout */
/* .header, .logo, .sectiontwo, 
.subtexto, .title, .img, .subclass, .titletwo,
.caixas, .sectionfour, .quote {
     border: 2px solid red;
} */

.subtexto, .title, .logo,
.titletwo, .description, .quote, .footer {
   font-family: 'Lexend Deca';
}

.header {
    background-color: #1e2a56;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    padding: 16px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin: 20px 10px 20px 20px;
}

/* ate aqui ta ok acho, as coisas do header tao funcionando, o problema comeca na secao 2 */

.sectiontwo {
    display: flex;
    flex-wrap: wrap;
    background-color: #1e2a56;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.subtexto {
    color: white;
    font-weight: 200;
    text-align: left;
    flex-wrap: wrap;
    max-width: 320px;
}

.title {
    font-weight: 900;
    font-size: 52px;
    color: white;
}

.img {
    width: 400px;
    height: 250px;
    background-color: lightblue;
}

.subclass {
    padding: 20px;
}

/* secao 2 deu certo, vou comecar a 3. ainda preciso descobrir como fazer os blocos com legenda */

.sectionthree {
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #65BDE6;
 padding: 20px;
}

.titletwo {
    margin: 10px;
}

.caixas {
    display: flex;
   justify-content: center;
}

.caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}
/* .caixa-um, .caixa-dois,
.caixa-tres, .caixa-quatro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
} */

.box {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    border: 3px solid darkblue;
    margin: 10px;
}

/* Section four */

.sectionfour {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.quote {
    color: gray;
    font-size: 24px;
    max-width: 400px;
    padding: 16px;
    margin: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: #1e2a56;
    color: lightblue;
    align-items: center;
    justify-content: center;
    height: 200px;
}